{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Dashboard</h1>

    <div class="row">
        {% for event in events %}
            <div class="col-md-6">
                <div class="well well-lg">
                    <div class="row">
                        <div class="col-sm-6">
                            <img src="http://lorempixel.com/400/200/" class="img-responsive">
                        </div>
                        <div class="col-sm-6">
                            <h3>{{ event.name }}</h3>
                            <a href="{{ path('ticker', {id: event.id}) }}">GoTo ticker</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
